<div class="container main-div">
  <div class="row mt-5">
    {{#each dbArticle}}
      <div class="col-12 col-md-4">
        <div class="item">
          <a href="{{this.imgLink}}" class="img" title="{{this.title}}">
            <img src="{{this.imgLink}}" alt="{{this.title}}" />
          </a>
          <div class="row align-items-center">
            <div class="col">
              <a class="nav-btn ml-0 ml-sm-3 ml-md-2" data-id="{{this._id}}" id="unsave-article-btn">Unsave</a>
              <a class="nav-btn ml-0 ml-sm-3 ml-md-2" data-id="{{this._id}}" id="add-note-btn" data-toggle="modal" data-target="#noteModal">+ Note</a>
            </div>
            <div class="col">
              <p id="time">{{this.time}}</p>
            </div>
          </div>
          <div class="desc">
            <h3>
              <a href="{{this.articleLink}}">{{this.title}}</a>
            </h3>
            <p>by
              <span id="author">
                <strong>{{this.author}}</strong>
              </span>
            </p>
          </div>
          <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  {{!-- {{each dbNote}}
                    <div class="alert alert-secondary" role="alert">
                      {{dbNote.notes}}
                    </div>
                  {{/each}} --}}
                  <form>
                    <div class="form-group">
                      <label for="message-title" class="col-form-label">Title:</label>
                      <input type="text" class="form-control" id="note-title"></input>
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Note:</label>
                      <textarea class="form-control" id="note-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-id="{{this._id}}" data-dismiss="modal" id="save-note">Save Note</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>